[Unit]
Description=Renew ACME certificates
After=network-online.target
After=httpd.service nginx.service

[Timer]
OnBootSec=60min
OnUnitInactiveSec=2w
Unit=acme-tiny.service

[Install]
WantedBy=timers.target
